@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

div.transaction{
    border-top: 1px solid gainsboro;
}  

div.transaction:first-child{
    border-top:0;
}